NODE_ENV=dev
PORT=3333
JWT_SECRET=change-me
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/vero_api
DATABASE_SCHEMA=public
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:3333/calendar/google/callback
GOOGLE_OAUTH_STATE_SECRET=change-me-too
