NODE_ENV=dev
PORT=3333
JWT_SECRET=
DATABASE_URL=
DATABASE_URL_EVOLUTION=
DATABASE_SCHEMA=
GEMINI_API_KEY=
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
GOOGLE_OAUTH_STATE_SECRET=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_FOLDER_ID=
GOOGLE_TEMPLATE_ID=